.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #113440;
  padding: 10px;
  border-radius: 15px;
}

.input {
  border: 5px #9babb0;
  padding: 2px;
  margin-bottom: 4px;
  width: 100%;
}

.buttonsContainer {
  background-color: #113440;
  display: flex;
  justify-content: space-between;
}

.createButton {
  background-color: #159af2;
  color: #e7f1f8;
  font-weight: bold;
  border-radius: 10px;
  padding: 4px 2px;
}

.createButton:hover {
  background-color: #0072c2;
}

.deleteButton {
  background-color: #f33d46;
  color: #e7f1f8;
  font-weight: bold;
  border-radius: 10px;
  padding: 4px 2px;
}

.deleteButton:hover {
  background-color: #800b11;
}

.label {
  background-color: #113440;
  color: #9babb0;
  font-weight: bold;
}
